body {
background-color: #000000;
font-family: monospace;
color: white;
}
pre {
color: #0F52BA;
}
a:link {
color: #0F52BA;
background-color: transparent;
text-decoration: none;
}
a:visited {
color: #0F52BA;
background-color: transparent;
text-decoration: none;
}
img {
border:1px solid #0F52BA;
max-width:80%;
}
